<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>半沢直樹</string>
		<key>icon</key>
		<string>picture_han</string>
		<key>title</key>
		<string>銀行ドラマ</string>
		<key>options</key>
		<array>
			<string>小</string>
			<string>振</string>
			<string>炉</string>
			<string>人</string>
			<string>愚</string>
			<string>半</string>
			<string>卯</string>
			<string>気</string>
			<string>直</string>
			<string>列</string>
			<string>等</string>
			<string>尾</string>
			<string>宝</string>
			<string>沢</string>
			<string>湯</string>
			<string>部</string>
			<string>光</string>
			<string>人</string>
			<string>壁</string>
			<string>樹</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>フランス</string>
		<key>icon</key>
		<string>picture_fance</string>
		<key>title</key>
		<string>国の名前</string>
		<key>options</key>
		<array>
			<string>ア　</string>
			<string>エ</string>
			<string>フ</string>
			<string>イ</string>
			<string>オ</string>
			<string>ブ</string>
			<string>ヴ</string>
			<string>ヅ</string>
			<string>サ</string>
			<string>ゥ</string>
			<string>ガ</string>
			<string>カ</string>
			<string>ッ</string>
			<string>ン</string>
			<string>ラ</string>
			<string>ム</string>
			<string>ジ</string>
			<string>ォ</string>
			<string>ポ</string>
			<string>ス</string>
			<string>グ</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>郎坤也</string>
		<key>icon</key>
		<string>picture_ro</string>
		<key>title</key>
		<string>天才と呼ばれた男</string>
		<key>options</key>
		<array>
			<string>林</string>
			<string>坤</string>
			<string>間</string>
			<string>泽</string>
			<string>半</string>
			<string>井</string>
			<string>陽</string>
			<string>黄</string>
			<string>郎</string>
			<string>九</string>
			<string>流</string>
			<string>歩</string>
			<string>胃</string>
			<string>具</string>
			<string>無</string>
			<string>対</string>
			<string>寐</string>
			<string>也</string>
			<string>羅</string>
			<string>食</string>
			<string>小</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>スカイツリー</string>
		<key>icon</key>
		<string>picture_skytree</string>
		<key>title</key>
		<string>都内有名な建物</string>
		<key>options</key>
		<array>
			<string>ー</string>
			<string>オ</string>
			<string>ア</string>
			<string>エ</string>
			<string>ガ</string>
			<string>キ</string>
			<string>イ</string>
			<string>カ</string>
			<string>バ</string>
			<string>ビ</string>
			<string>ス</string>
			<string>ベ</string>
			<string>リ</string>
			<string>ボ</string>
			<string>サ</string>
			<string>ザ</string>
			<string>ツ</string>
			<string>ジ</string>
			<string>ゴ</string>
			<string>ム</string>
			<string>ン</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>ウルトラマン</string>
		<key>icon</key>
		<string>picture_uru</string>
		<key>title</key>
		<string>巨大変身ヒーローの名前</string>
		<key>options</key>
		<array>
			<string>エ</string>
			<string>ラ</string>
			<string>モ</string>
			<string>コ</string>
			<string>ガ</string>
			<string>ト</string>
			<string>ギ</string>
			<string>マ</string>
			<string>ド</string>
			<string>チ</string>
			<string>ン</string>
			<string>ヂ</string>
			<string>カ</string>
			<string>ム</string>
			<string>バ</string>
			<string>ル</string>
			<string>サ</string>
			<string>ヅ</string>
			<string>コ</string>
			<string>ナ</string>
			<string>ウ</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>京都</string>
		<key>icon</key>
		<string>picture_kyoto</string>
		<key>title</key>
		<string>昔の日本の政治・文化の中心地</string>
		<key>options</key>
		<array>
			<string>家</string>
			<string>京</string>
			<string>東</string>
			<string>品</string>
			<string>川</string>
			<string>志</string>
			<string>後</string>
			<string>歩</string>
			<string>都</string>
			<string>降</string>
			<string>得</string>
			<string>天</string>
			<string>蜂</string>
			<string>良</string>
			<string>故</string>
			<string>軽</string>
			<string>亀</string>
			<string>林</string>
			<string>妻</string>
			<string>奈</string>
			<string>孫</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>孫悟空</string>
		<key>icon</key>
		<string>picture_sun</string>
		<key>title</key>
		<string>『ドラゴンボール』の主人公</string>
		<key>options</key>
		<array>
			<string>空</string>
			<string>対</string>
			<string>勝</string>
			<string>脱</string>
			<string>張</string>
			<string>絵</string>
			<string>亜</string>
			<string>米</string>
			<string>孫</string>
			<string>東</string>
			<string>中</string>
			<string>狩</string>
			<string>蕪</string>
			<string>悟</string>
			<string>時</string>
			<string>た</string>
			<string>談</string>
			<string>時　</string>
			<string>縫</string>
			<string>画</string>
			<string>碔</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>ジョブス</string>
		<key>icon</key>
		<string>picture_jop</string>
		<key>title</key>
		<string>アメリカの実業家</string>
		<key>options</key>
		<array>
			<string>ク</string>
			<string>ム</string>
			<string>ヌ</string>
			<string>ガ</string>
			<string>ブ</string>
			<string>ジ</string>
			<string>フ</string>
			<string>ブ</string>
			<string>ョ</string>
			<string>ッ</string>
			<string>オ</string>
			<string>ア</string>
			<string>エ</string>
			<string>ポ</string>
			<string>ホ</string>
			<string>グ</string>
			<string>ス</string>
			<string>ヴ</string>
			<string>ィ</string>
			<string>サ</string>
			<string>ザ</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>安倍晋三</string>
		<key>icon</key>
		<string>picture_abe</string>
		<key>title</key>
		<string>日本の政治家</string>
		<key>options</key>
		<array>
			<string>路</string>
			<string>王</string>
			<string>対</string>
			<string>蕪</string>
			<string>倍</string>
			<string>愚</string>
			<string>瑠</string>
			<string>林</string>
			<string>出</string>
			<string>達</string>
			<string>三</string>
			<string>武</string>
			<string>似</string>
			<string>安</string>
			<string>時</string>
			<string>笑</string>
			<string>村</string>
			<string>髪</string>
			<string>二</string>
			<string>晋</string>
			<string>内</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>HAL東京</string>
		<key>icon</key>
		<string>picture_hal</string>
		<key>title</key>
		<string>都内某専門学校</string>
		<key>options</key>
		<array>
			<string>D</string>
			<string>東</string>
			<string>O</string>
			<string>食</string>
			<string>M</string>
			<string>U</string>
			<string>名</string>
			<string>K</string>
			<string>H</string>
			<string>B</string>
			<string>N</string>
			<string>P</string>
			<string>京</string>
			<string>A</string>
			<string>当</string>
			<string>大</string>
			<string>L</string>
			<string>G</string>
			<string>古</string>
			<string>屋</string>
			<string>A</string>
		</array>
	</dict>
</array>
</plist>
